@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: 'Fira Mono', monospace;
    font-size: 20px;
}

body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

main{
	box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
	padding: 2rem;
	border-radius: 30px;
}

.keys button {
	outline: none;
	border:none;
	box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.2),
    -5px -5px 2px 0 rgba(255, 255, 255, 0.5);
}

input {
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

	width: 320px;
	height: 60px;
	padding: 16px 32px;
	text-align: right;
	border:none;
	border-radius: 30px;
	text-shadow: -1px -1px 2px #fff, 2px 2px 2px rgba(#000, 0.4);
}

.keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.8rem;
	margin-top: 20px;
}

button {
	width: 60px;
	height: 60px;
	border:none;
	border-radius: 30px;
	cursor: pointer;
	background:#e9e9e9;
}

button:hover {

	background-color: #ccc;

}

button:active {
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.op__key, .eq__key {
	color: #ff652f;
}
